/*Media Querys*/

@media (max-width: 992px){
    .nav ul li{
        padding: 20px;
    }
    .contenido section{
        width: 700px;
    }
    table{
        width: 690px;
    }
    #lateral.aside{
        position: absolute;
        margin-left: 700px;
    }
}

@media (max-width: 768px){
    .nav{
        width: 100%;
    }

    .nav ul li{
        padding: 20px;
    }
    .nav ul li a{
        font-size: 1.7rem;
    }
    .container{
        width: 100%;
    }
    #lateral{
        display: none;
    }

    .contacto_footer p{
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    iframe {
        width: 220px;
        height: 100px;
    }

    .img__contacto{
        width: 45%;
        margin-top: 0px;
    }
}

@media (max-width: 576px){
    .logo{
        width: 400px;
    }
    .logo h1{
        width: 400px;
    }
    .logo h1 a{
        float: left;
    }

    .nav{
        text-align: center;
        padding: 5px;
        margin: 5px;
        font-size: 10px;
        height: auto;
    }
    .nav ul li{
        padding: 9px;
    }

    .contenido section{
        width: 500px;
    }
    table{
        width: 500px;
    }
    .footer{
        display: none;
    }
}

@media (max-width: 480px){
    .logo h1 a{
        float: left;
        padding: 0px auto;
    }

    .nav{
        display: flex;
        float: right;
        text-align: center;
        padding: 5px;
        margin: 5px;
        font-size: 25px;
        height: auto;
    }

    .nav ul li{
        padding: 0px;
    }

    #img__depo1{
        display: none;
    }
    
    .img__contacto{
        display: none;
    }

    .contenido section{
        width: 450px;
    }
    table{
        width: 450px;
    }
}