/* NAVBAR*/

.navbar{
    display: none;
}

.nav{
    background: yellowgreen;
    height: 38.5px;
    text-align: center;
    align-items: center;
    margin-left: 15px;
    ul{
        display: block;
        width: 100%;
        text-align: center;      
        li{
            display: inline;
            padding: 50px;      
            a{
                display: inline;
                font-size: 2.1rem;
                color: whitesmoke;
                font-family: "BebasNeue";
                text-decoration: none;
                transition: all 200ms;       
            }
            a:hover{
                color: orangered;
                transform: scale(1.5, 1.5);            
            }
        }
    }
}
